<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="../HTML Mocks/Home Page.html">Home Automation</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="../HTML Mocks/Home Page.html">Home</a></li>
        <li><a href="../HTML Mocks/UserList.html">User Management</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../HTML Mocks/Login.html">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
